.main-game-container {
	display: flex;
	justify-content: space-around;
}

.board-wrapper {
	display: flex;
	flex-direction: column;
}

.board {
	display: grid;
	height: 80vh;
	width: 50vw;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.cell {
	border: 1px solid black;
}
.cell:not(.hit):not(.miss):hover {
	background-color: rgba(0, 0, 0, 0.507);
}

.hit {
	background-color: red;
}

.miss {
	background-color: gray;
}

.ship {
	background-color: green;
}
